<template>
<div class="center">
  <h1>{{ counter }}</h1>
  <button @click="counterUp">Counter Up</button>
  <button @click="counterDown">Counter Down</button>
</div>
</template>


<script>

export default {
  name: "CounterView",
  data() {
    return {
        counter :0
    }
  },
  methods :{
    counterUp(){
        this.counter++
    },
    counterDown(){
        this.counter--
    }

  }
}
</script>



<style>
h1{
    color:rgb(45, 179, 134)
}
center{
    text-align: center;
}

</style>
